// define $sptites valiable in global if not defined.
@if not global-variable-exists("sprites") {
  $sprites: () !global;
}

// local scope
@if global-variable-exists("sprites") {
  $items: ();

  // add each image data by image basename.
  // + includes shape's sizes both elastic and fixed pixel
  $items: map-merge(
    $items,
    (
      "example-c--current": (
        "width": 34px,
        "height": 24px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": 0px,
        "offset-y": 0px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-c--disabled": (
        "width": 34px,
        "height": 24px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": -36px,
        "offset-y": 0px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-c--focus": (
        "width": 34px,
        "height": 24px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": 0px,
        "offset-y": -26px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-c": (
        "width": 34px,
        "height": 24px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": -36px,
        "offset-y": -26px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-d--current--responsive": (
        "width": 26px,
        "height": 18px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": 0px,
        "offset-y": -52px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-d--current": (
        "width": 18px,
        "height": 12px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": -72px,
        "offset-y": -40px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-d--disabled--responsive": (
        "width": 26px,
        "height": 18px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": -28px,
        "offset-y": -52px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-d--disabled": (
        "width": 18px,
        "height": 12px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": -72px,
        "offset-y": -54px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-d--focus--responsive": (
        "width": 26px,
        "height": 18px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": -72px,
        "offset-y": 0px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-d--focus": (
        "width": 18px,
        "height": 12px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": 0px,
        "offset-y": -72px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-d--responsive": (
        "width": 26px,
        "height": 18px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": -72px,
        "offset-y": -20px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );
  $items: map-merge(
    $items,
    (
      "example-d": (
        "width": 18px,
        "height": 12px,
        "total-width": 98px,
        "total-height": 84px,
        "offset-x": -20px,
        "offset-y": -72px,
        "image": "../images/sprites/icon-image.png"
      )
    )
  );

  // add spritesheet common data on spritesheet basename.
  $sprites: map-merge(
    $sprites,
    (
      "icon-image": (
        "image": "../images/sprites/icon-image.png",
        "items": $items
      )
    )
  );
}
