// stylelint-disable number-no-trailing-zeros
$sprites: (
  "text-svg": (
    "image": "../../images/sprites/text-svg.svg",
    "items": (
      "example-a": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 259.7560975609756%,
        "elastic-background-height": 1000%,
        "elastic-offset-x": -0.16666666666666666em,
        "elastic-offset-y": -7.5em,
        "rounded-height": 12px,
        "width": 82.0px,
        "height": 12.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -2.0px,
        "offset-y": -90.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-a--current": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 259.7560975609756%,
        "elastic-background-height": 1000%,
        "elastic-offset-x": -0.16666666666666666em,
        "elastic-offset-y": -8.833333333333334em,
        "rounded-height": 12px,
        "width": 82.0px,
        "height": 12.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -2.0px,
        "offset-y": -106.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-a--disabled": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 259.7560975609756%,
        "elastic-background-height": 1000%,
        "elastic-offset-x": -10.75em,
        "elastic-offset-y": -0.16666666666666666em,
        "rounded-height": 12px,
        "width": 82.0px,
        "height": 12.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -129.0px,
        "offset-y": -2.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-a--focus": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 259.7560975609756%,
        "elastic-background-height": 1000%,
        "elastic-offset-x": -10.75em,
        "elastic-offset-y": -1.5em,
        "rounded-height": 12px,
        "width": 82.0px,
        "height": 12.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -129.0px,
        "offset-y": -18.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-b": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 259.7560975609756%,
        "elastic-background-height": 1000%,
        "elastic-offset-x": -10.75em,
        "elastic-offset-y": -2.8333333333333335em,
        "rounded-height": 12px,
        "width": 82.0px,
        "height": 12.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -129.0px,
        "offset-y": -34.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-b--current": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 259.7560975609756%,
        "elastic-background-height": 1000%,
        "elastic-offset-x": -10.75em,
        "elastic-offset-y": -4.166666666666667em,
        "rounded-height": 12px,
        "width": 82.0px,
        "height": 12.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -129.0px,
        "offset-y": -50.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-b--current--if-mobile": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 173.17073170731706%,
        "elastic-background-height": 666.6666666666667%,
        "elastic-offset-x": -0.1111111111111111em,
        "elastic-offset-y": -0.1111111111111111em,
        "rounded-height": 18px,
        "width": 123.0px,
        "height": 18.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -2.0px,
        "offset-y": -2.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-b--disabled": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 259.7560975609756%,
        "elastic-background-height": 1000%,
        "elastic-offset-x": -10.75em,
        "elastic-offset-y": -5.5em,
        "rounded-height": 12px,
        "width": 82.0px,
        "height": 12.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -129.0px,
        "offset-y": -66.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-b--disabled--if-mobile": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 173.17073170731706%,
        "elastic-background-height": 666.6666666666667%,
        "elastic-offset-x": -0.1111111111111111em,
        "elastic-offset-y": -1.3333333333333333em,
        "rounded-height": 18px,
        "width": 123.0px,
        "height": 18.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -2.0px,
        "offset-y": -24.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-b--focus": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 259.7560975609756%,
        "elastic-background-height": 1000%,
        "elastic-offset-x": -10.75em,
        "elastic-offset-y": -6.833333333333333em,
        "rounded-height": 12px,
        "width": 82.0px,
        "height": 12.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -129.0px,
        "offset-y": -82.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-b--focus--if-mobile": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 173.17073170731706%,
        "elastic-background-height": 666.6666666666667%,
        "elastic-offset-x": -0.1111111111111111em,
        "elastic-offset-y": -2.5555555555555554em,
        "rounded-height": 18px,
        "width": 123.0px,
        "height": 18.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -2.0px,
        "offset-y": -46.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
      "example-b--if-mobile": (
        "elastic-width": 6.833333333333333em,
        "elastic-height": 1em,
        "elastic-background-width": 173.17073170731706%,
        "elastic-background-height": 666.6666666666667%,
        "elastic-offset-x": -0.1111111111111111em,
        "elastic-offset-y": -3.7777777777777777em,
        "rounded-height": 18px,
        "width": 123.0px,
        "height": 18.0px,
        "total-width": 213.0px,
        "total-height": 120.0px,
        "offset-x": -2.0px,
        "offset-y": -68.0px,
        "image": "../../images/sprites/text-svg.svg"
      ),
    )
  )
) !default;
