@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-pict

component for pict.

Weight: -1070

Style guide: #{settings.$prefix}-pict
*/

/*
core

core module of #{settings.$prefix}-pict

Weight: -100

Style guide: #{settings.$prefix}-pict.core
*/

/*
default style

default style of #{settings.$prefix}-pict

Weight: -100

Markup: <!-- image element -->
<figure class="#{settings.$prefix}-pict">
  <img class="#{settings.$prefix}-pict__src" src="https://via.placeholder.com/400x300" alt="" width="400" height="300" />
</figure>
<!-- image element (breaking) -->
<figure class="#{settings.$prefix}-pict">
  <img class="#{settings.$prefix}-pict__src" src="#" alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua." width="400" height="300" />
</figure>
<!-- iframe player -->
<figure class="#{settings.$prefix}-pict">
  <iframe class="#{settings.$prefix}-pict__src" title="vimeo-player" src="https://player.vimeo.com/video/76979871" width="640" height="360" frameborder="0" allowfullscreen></iframe>
</figure>

Style guide: #{settings.$prefix}-pict.core.base
*/
.#{settings.$prefix}-pict { // stylelint-disable-line scss/selector-nest-combinators
  @include mixin.box-initialize();
  @include mixin.text-initialize(
    $letter-spacing: 0,
    $line-height: 0
  );
  @include mixin.font-initialize();
  @include mixin.font-apply-size(
    $value: "medium"
  );

  width: auto;
  height: auto;
  color: inherit;
  background-color: transparent;

  &__src {
    @include mixin.box-initialize(
      $display: "inline-block",
      $overflow: "hidden"
    );
    @include mixin.text-initialize();
    @include mixin.font-initialize();
    @include mixin.font-apply-size(
      $value: "medium"
    );

    color: inherit;
    background-color: transparent;
  }
}
