////
/// (c) hidoo | MIT Lisence
/// @group Default settings
////

/// settings of selector.
/// for expressing of state like `:hover` or `:focus`.
/// (default: `(".is-focus")`)
/// @type List
///
$focus: (
  ".is-focus",
) !default;

/// settings of selector
/// for expressing of state like `:checked`.
/// (default: `(".is-selected")`)
/// @type List
///
$selected: (
  ".is-selected",
) !default;

/// settings of selector.
/// for expressing of state like `:disabled`.
/// (default: `(".is-disabled")`)
/// @type List
///
$disabled: (
  ".is-disabled",
) !default;

/// settings of selector.
/// for expressing of state like `".is-current"`
/// (default: `(".is-current")`)
/// @type List
///
$current: (
  ".is-current",
) !default;

/// settings of selector.
/// for expressing of state like `is-active`.
/// (default: `(".is-active")`)
/// @type List
///
$active: (
  ".is-active",
) !default;
