////
/// (c) hidoo | MIT Lisence
/// @group Default settings
////

/// prefix of class name of util
/// (default: `"util"`)
/// @type String
///
/// @example scss - scss inputs
///   $util-prefix: "h";
///
/// @example css - css outputs
///   .h--width-0 {
///     /* settings */
///   }
///
$prefix: "util" !default;

/// default values of width / height utilities
/// @type List
///
$box-sizes: (
  0,
  25px, 50px, 75px, 100px, 125px, 150px,
  200px, 250px, 300px, 350px, 400px, 450px,
  500px, 600px, 700px, 800px, 900px, 1000px,
) !default;

/// default values of margin
/// @type List
///
$margin-values: (
  0,
  5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px, 55px, 60px,
  -5px, -10px, -15px, -20px, -25px, -30px, -35px, -40px, -45px, -50px, -55px, -60px,
) !default;

/// default values of padding
/// @type List
///
$padding-values: (
  0,
  5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px, 55px, 60px,
) !default;

/// default values of position
/// @type List
///
$position-values: (
  0,
  5px, 10px, 15px, 20px, 25px, 30px, 35px, 40px, 45px, 50px, 55px, 60px,
  -5px, -10px, -15px, -20px, -25px, -30px, -35px, -40px, -45px, -50px, -55px, -60px,
) !default;

/// default values of z-index
/// @type List
///
$z-index-values: (
  0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50,
) !default;

/// default breakpoints
/// @type Map
///
$breakpoints: (
  "if-mobile": ("until": "mobile"),
  "if-not-mobile": ("from": "mobile")
) !default;
