@use "../settings";

/*
clear

utilities that tweek of clear

Weight: -90

Style guide: #{settings.$util-prefix}.clear
*/

/*
modifiers: clear

builtin modifiers of clear

Weight: -100

Markup: <div style="position:relative; padding:50px;">
  <div class="#{settings.$util-prefix}--float-left" style="position:relative; width:50px; height:50px; background:#ccc;"></div>
  <div class="{{modifier_class}}" style="position:relative; width:50px; height:50px; background:#999;"></div>
  <div class="#{settings.$util-prefix}--float-right" style="position:relative; width:50px; height:50px; background:#ccc;"></div>
  <div class="{{modifier_class}}" style="position:relative; width:50px; height:50px; background:#999;"></div>
</div>

#{settings.$util-prefix}--clear-left - clear left side floating
#{settings.$util-prefix}--clear-right - clear right side floating
#{settings.$util-prefix}--clear-both - clear both floating

Style guide: #{settings.$util-prefix}.clear.builtin
*/
.#{settings.$util-prefix}--clear { // stylelint-disable-line scss/selector-nest-combinators
  &-left {
    clear: left !important;
  }

  &-right {
    clear: right !important;
  }

  &-both {
    clear: both !important;
  }
}
