@use "../settings";

/*
float

utilities that tweek of float

Weight: -91

Style guide: #{settings.$util-prefix}.float
*/

/*
modifiers: float

builtin modifiers of float

Weight: -100

Markup: <div style="position:relative; padding:50px;">
  <div class="{{modifier_class}}" style="position:relative; width:50px; height:50px; background:#999;"></div>
  <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>

#{settings.$util-prefix}--float-left - float to left side
#{settings.$util-prefix}--float-right - float to right side
#{settings.$util-prefix}--float-none - disable float

Style guide: #{settings.$util-prefix}.float.builtin
*/
.#{settings.$util-prefix}--float { // stylelint-disable-line scss/selector-nest-combinators
  &-left {
    float: left !important;
  }

  &-right {
    float: right !important;
  }

  &-none {
    float: none !important;
  }
}
