@use "../lib/mixin";
@use "../settings";

/*
font-family

utilities that tweek of font-family

Weight: -88

Style guide: #{settings.$util-prefix}.font-family
*/

/*
modifiers: font-family

builtin modifiers of font-family

Weight: -100

Markup: <!-- laten -->
<p class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, <b class="#{settings.$prefix}-text  #{settings.$prefix}-text--inline-true  #{settings.$prefix}-text--weight-bold">consectetur adipiscing elit</b>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
<!-- japanese -->
<p class="#{settings.$prefix}-text  {{modifier_class}}">あのイーハトーヴォのすきとおった風、<b class="#{settings.$prefix}-text  #{settings.$prefix}-text--inline-true  #{settings.$prefix}-text--weight-bold">夏でも底に冷たさをもつ青いそら</b>、うつくしい森で飾られたモーリオ市、郊外のぎらぎらひかる草の波。</p>

#{settings.$util-prefix}--font-family-default - default font family (**default**)
#{settings.$util-prefix}--font-family-monospace - monospace font family

Style guide: #{settings.$util-prefix}.font-family.builtin
*/
.#{settings.$util-prefix}--font-family { // stylelint-disable-line scss/selector-nest-combinators
  &-default {
    @include mixin.font-apply-family($value: "default", $important: true);
  }

  &-monospace {
    @include mixin.font-apply-family($value: "monospace", $important: true);

    // not specify !important, because override as possible
    @include mixin.font-apply-size($value: "medium", $monospace: true);
  }
}
