@use "../lib/mixin";
@use "../settings";

/*
width

utilities that tweek of width

Weight: -98

Style guide: #{settings.$util-prefix}.width
*/

/*
modifiers: width

builtin modifiers of width.
(0 to 150px in 25px steps, 200px to 450px in 50px steps, 500px to 1000px in 100px steps)

Weight: -100

Markup: <div style="position:relative; padding:50px;">
  <div class="{{modifier_class}}" style="position:relative; width:50px; height:50px; background:#999;"></div>
</div>

#{settings.$util-prefix}--width-0 - 0px width
#{settings.$util-prefix}--width-min-0 - 0px min width
#{settings.$util-prefix}--width-max-0 - 0px max width
#{settings.$util-prefix}--width-1000 - 1000px width
#{settings.$util-prefix}--width-min-1000 - 1000px min width
#{settings.$util-prefix}--width-max-1000 - 1000px max width
#{settings.$util-prefix}--width-fit - 100% width
#{settings.$util-prefix}--width-min-fit - 100% min width
#{settings.$util-prefix}--width-max-fit - 100% max width
#{settings.$util-prefix}--width-auto - auto width

Style guide: #{settings.$util-prefix}.width.builtin
*/
.#{settings.$util-prefix}--width { // stylelint-disable-line scss/selector-nest-combinators
  // each by sizes
  @include mixin.size-define($type: "width", $values: settings.$util-box-sizes);

  &-fit {
    width: 100% !important;
  }

  &-min-fit {
    min-width: 100% !important;
  }

  &-max-fit {
    max-width: 100% !important;
  }

  &-auto {
    width: auto !important;
  }
}
