@use "../lib/mixin";
@use "../settings";

/*
z-index

utilities that tweek of z-index

Weight: -92

Style guide: #{settings.$util-prefix}.z-index
*/

/*
modifiers: z-index

builtin modifiers of z-index. (0 to 50 in 5 steps)

Weight: -100

Markup: <div style="position:relative; padding:50px;">
  <div style="position:absolute; width:50px; height:50px; top:50%; left:50%; margin:-50px 0 0 -50px; line-height:50px; color:#fff; background:#ccc; text-align:center; z-index:1;">1</div>
  <div class="{{modifier_class}}" style="position:absolute; width:50px; height:50px; line-height:50px; top:50%; left:50%; margin:-25px 0 0 -25px; background:#999;"></div>
  <div style="position:absolute; width:50px; height:50px; line-height:50px; top:50%; left:50%; margin:0; color:#fff; background:#666; text-align:center; z-index:49">49</div>
</div>

#{settings.$util-prefix}--z-index-0 - 0 z-index
#{settings.$util-prefix}--z-index-25 - 25 z-index
#{settings.$util-prefix}--z-index-50 - 50 z-index

Style guide: #{settings.$util-prefix}.z-index.builtin
*/
.#{settings.$util-prefix}--z-index { // stylelint-disable-line scss/selector-nest-combinators
  // each by sizes
  @include mixin.define-sizes($type: "z-index", $values: settings.$util-z-index-values);
}
