@use "sass:map";
@use "@hidoo/unit/src/lib/mixin" as unit-mixin;
@use "@hidoo/unit/src/settings" as unit-settings;
@use "../../lib/mixin";
@use "../../settings";

/*
extended style

extended style of `#{unit-settings.$prefix}-table`

Weight: -100

Markup: <table class="{{modifier_class}}">
  <tr>
    <th class="{{modifier_class}}__column  {{modifier_class}}__column--head" scope="row">Lorem ipsum dolor sit amet.</th>
    <td class="{{modifier_class}}__column">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
  </tr>
  <tr>
    <th class="{{modifier_class}}__column  {{modifier_class}}__column--head" scope="row">Lorem ipsum dolor sit amet.</th>
    <td class="{{modifier_class}}__column">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
  </tr>
</table>

#{unit-settings.$prefix}-table-a-a-a - generic style (themeable)

Style guide: #{unit-settings.$prefix}-table.core.extend
*/
.#{unit-settings.$prefix}-table { // stylelint-disable-line scss/selector-nest-combinators
  &-a-a {
    &-a {
      @include unit-mixin.use-table-base();

      border-left: 0;
      border-right: 0;

      @include mixin.on-theme("light") {
        $theme: map.get(settings.$kss-theme-color-scheme, "light");

        border-color: map.get($theme, "border-color");
      }

      @include mixin.on-theme("dark") {
        $theme: map.get(settings.$kss-theme-color-scheme, "dark");

        border-color: map.get($theme, "border-color");
      }

      &__column {
        @include unit-mixin.use-table-column-base(
          $padding: 10px 15px (10px * 1.2)
        );
        @include unit-mixin.use-text-base(
          $line-height: 1.2
        );
        @include unit-mixin.use-font-base();
        @include unit-mixin.use-font-size(
          $value: "medium"
        );

        vertical-align: top;
        border-left: 0;
        border-right: 0;

        @include mixin.on-theme("light") {
          $theme: map.get(settings.$kss-theme-color-scheme, "light");

          color: map.get($theme, "color");
          border-color: map.get($theme, "border-color");
        }

        @include mixin.on-theme("dark") {
          $theme: map.get(settings.$kss-theme-color-scheme, "dark");

          color: map.get($theme, "color");
          border-color: map.get($theme, "border-color");
        }

        &--head {
          font-weight: 600;
        }
      }
    }
  }
}
