/*
core

core module of #{$unit-prefix}-icon

Weight: -100

Style guide: #{$unit-prefix}-icon.core
*/

/*
default style

default style of #{$unit-prefix}-icon

Weight: -100

Markup: <span class="#{$unit-prefix}-icon"></span>

#{$unit-prefix}-icon - default style

Style guide: #{$unit-prefix}-icon.core.base
*/
.#{$unit-prefix}-icon {
  @include use-box-base(
    $overflow: "hidden"
  );
  @include use-text-base(
    $text-indent: -100%
  );
  @include use-font-base(
    $feature-settings: true
  );
  @include use-font-size(
    $value: "medium"
  );

  color: inherit;
  background-color: transparent;
}
