@use "sass:map";
@use "../../../../../../src/settings";
@use "../../../../../../src/plugin/spritesheet" as *;

/*
radio

radio modifiers of #{settings.$prefix}-toggle

Weight: -98

Style guide: #{settings.$prefix}-toggle.radio
*/

/*
modifiers: radio

builtin modifiers of radio for #{settings.$prefix}-toggle

Weight: -99

Markup: <!-- single -->
<span class="#{settings.$prefix}-toggle  {{modifier_class}}">
  <input class="#{settings.$prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="1" />
  <span class="#{settings.$prefix}-toggle__alt"></span>
</span>
<!-- single:disabled -->
<span class="#{settings.$prefix}-toggle  {{modifier_class}}">
  <input class="#{settings.$prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="2" checked="checked" disabled="disabled" />
  <span class="#{settings.$prefix}-toggle__alt"></span>
</span>
<!-- with label -->
<label>
  <span class="#{settings.$prefix}-toggle  {{modifier_class}}">
    <input class="#{settings.$prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="3" />
    <span class="#{settings.$prefix}-toggle__alt"></span>
  </span>
  Lorem ipsum dolor sit amet.
</label>

#{settings.$prefix}-toggle--radio-example-a - radio example-a (svg)
#{settings.$prefix}-toggle--radio-example-b - radio example-b (svg, responsive)
#{settings.$prefix}-toggle--radio-example-c - radio example-c (image, use2x)
#{settings.$prefix}-toggle--radio-example-d - radio example-d (image, responsive, use2x - if mobile)

Style guide: #{settings.$prefix}-toggle.radio.extends
*/
.#{settings.$prefix}-toggle--radio { // stylelint-disable-line scss/selector-nest-combinators
  $options: ("toggle": true);

  @include use-spritesheet($type: "radio-svg", $name: "example-a", $options: $options);
  @include use-spritesheet($type: "radio-svg", $name: "example-b", $options: map-merge($options, ("responsive": true)));
  @include use-spritesheet($type: "radio-image", $name: "example-c", $options: map-merge($options, ("use2x": true)));
  @include use-spritesheet($type: "radio-image", $name: "example-d", $options: map-merge($options, ("responsive": true, "use2x": "if-mobile")));
}
