@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "../../lib/mixin";
@use "../../settings";

/*
theme

theme modifiers of #{settings.$prefix}-input

Weight: -99

Style guide: #{settings.$prefix}-input.theme
*/

/*
modifiers: theme

builtin modifiers of theme for #{settings.$prefix}-input

Weight: -100

Markup: <!-- input -->
<input class="#{settings.$prefix}-input  {{modifier_class}}" type="text" name="{{modifier_class}}" value="" placeholder="Lorem ipsum dolor sit amet." />
<!-- input:disabled -->
<input class="#{settings.$prefix}-input  {{modifier_class}}" type="text" name="{{modifier_class}}" value="" placeholder="Lorem ipsum dolor sit amet." disabled="disabled" />
<!-- textarea -->
<textarea class="#{settings.$prefix}-input  {{modifier_class}}" name="{{modifier_class}}" rows="5" cols="10" placeholder="Lorem ipsum dolor sit amet."></textarea>

#{settings.$prefix}-input--theme-light - light theme
#{settings.$prefix}-input--theme-dark - dark theme

Style guide: #{settings.$prefix}-input.theme.builtin
*/
.#{settings.$prefix}-input--theme {// stylelint-disable-line scss/selector-nest-combinators
  $selector: string.unique-id();

  @include mixin.placeholder-define($name: $selector) {
    padding: 10px;
    border-radius: 3px;
    transition-duration: 0.1s;
    transition-property: border-color;
    transition-timing-function: ease-out;
  }

  @if meta.type-of(settings.$builtin-themes) == "map" {
    @each $name, $theme in settings.$builtin-themes {
      $color: map.get($theme, "color");
      $color-focus: map.get($theme, "color-focus");
      $background: map.get($theme, "background");
      $background-focus: map.get($theme, "background-focus");
      $border: map.get($theme, "border");
      $border-focus: map.get($theme, "border-focus");
      $shadow-alpha: if($name == "light", 0.1, 1);

      &-#{$name} {
        @extend %#{$selector};

        color: $color;
        background-color: $background;
        border: 1px solid $border;
        box-shadow: inset rgba(0, 0, 0, $shadow-alpha) 0 2px 2px;

        @include mixin.on-placeholder() {
          color: $color-focus;
        }

        @include mixin.on-focus() {
          border-color: $border-focus;
        }

        @include mixin.on-disabled() {
          border: 1px solid $border;
        }
      }
    }
  }
}
