@use "sass:map";
@use "@hidoo/unit/src/lib/function" as unit-function;
@use "@hidoo/unit/src/lib/mixin" as unit-mixin;
@use "../lib/mixin";
@use "../settings";

/*
kss-block-heading

kss blocks for heading.

Weight: -100

Style guide: kss-block-heading
*/

/*
kss-block-heading-a-a

Generic heading (a)

Markup: <header class="kss-block-heading-a-a{{#if modifier_class}}  {{modifier_class}}{{/if}}  kss-unit-box{{#if this.utils}}  {{this.utils}}{{/if}}">
  <div class="kss-block-heading-a-a__container  kss-unit-box__container">
    <div class="kss-block-heading-a-a__header  kss-unit-table-grid">
      <div class="kss-block-heading-a-a__header__reference  kss-unit-table-grid__column">
        <p class="kss-block-heading-a-a__reference  kss-unit-text  kss-unit-text--theme-a-a-b">9.9</p>
      </div>
      <div class="kss-block-heading-a-a__header__label  kss-unit-table-grid__column">
        <h1 class="kss-block-heading-a-a__label  kss-unit-text">
          <a class="kss-block-heading-a-a__label__link  kss-unit-text__link  kss-unit-text__link--theme-a-a-a" href="javascript:;">component-name</a>
        </h1>
      </div>
    </div>
    <p class="kss-block-heading-a-a__deprecated  kss-unit-text  kss-unit-text--theme-a-a-c">DEPRECATED!</p>
    <p class="kss-block-heading-a-a__experimental  kss-unit-text  kss-unit-text--theme-a-a-d">EXPERIMENTAL!</p>
    <div class="kss-block-heading-a-a__description  kss-unit-document  kss-unit-document--theme-a-a-a">
      <p>Lorem ipsum <strong>dolor sit amet</strong>, consectetur <b>adipiscing elit</b>,sed do eiusmod <em>tempor incididunt</em> ut labore et dolore <i>magna aliqua</i>.</p>
      <p>Lorem ipsum <u>dolor sit amet</u>, consectetur <del>adipiscing elit</del>,sed do eiusmod <s>tempor incididunt</s> ut labore et dolore <code>magna aliqua</code>.</p>
      <p>Lorem ipsum <span>dolor sit amet</span>, consectetur <a href="javascript:;">adipiscing elit</a>.</p>
    </div>
  </div>
</header>

kss-block-heading-a-a--depth-1 - with depth 1
kss-block-heading-a-a--depth-2 - with depth 2
kss-block-heading-a-a--depth-3 - with depth 3

Style guide: kss-block-heading.a.a
*/
.kss-block-heading-a-a {
  $current-selectors: unit-function.merge-state-selectors("current");

  &__container {
    transition-duration: 0.2s;
    transition-property: border-color;
    transition-timing-function: ease-out;
  }

  &__header {
    width: auto;

    &__reference {
      vertical-align: top;
    }

    &__label {
      vertical-align: top;
    }

    &__reference + &__label {
      padding-left: 5px;
    }
  }

  &__reference {
    @include unit-mixin.use-font-family($value: settings.$kss-font-family-number);

    line-height: 1.2;
    white-space: nowrap;
    transition-duration: 0.2s;
    transition-property: color;
    transition-timing-function: ease-out;

    &::before {
      content: "#";
    }

    &::after {
      content: ".";
    }
  }

  @each $selector in $current-selectors {
    &#{$selector} &__reference {
      @include mixin.on-theme("light") {
        $theme: map.get(settings.$kss-theme-color-scheme, "light");

        color: map.get($theme, "accent-color");
      }

      @include mixin.on-theme("dark") {
        $theme: map.get(settings.$kss-theme-color-scheme, "dark");

        color: map.get($theme, "accent-color");
      }
    }
  }

  &__label {
    line-height: 1.2;

    &__link {
      @include unit-mixin.use-font-family($value: settings.$kss-font-family-heading);

      font-weight: 300;
    }
  }

  &__deprecated,
  &__experimental {
    @include unit-mixin.use-font-size($value: "large");

    font-weight: 800;
  }

  // stylelint-disable selector-list-comma-newline-after
  &__description {
    $top-margin: 5px;

    h1, h2, h3, h4, h5, h6, p, ul, ol {
      padding-top: $top-margin;

      &:first-child {
        padding-top: 0;
      }
    }

    blockquote, pre, table {
      margin-top: $top-margin;

      &:first-child {
        margin-top: 0;
      }
    }

    hr {
      padding-top: $top-margin;
    }
  }
  // stylelint-enable selector-list-comma-newline-after

  &__header + &__deprecated,
  &__header + &__experimental,
  &__header + &__description {
    padding-top: 10px;
  }

  &__deprecated + &__description,
  &__experimental + &__description {
    padding-top: 10px;
  }

  // depth: 1

  &--depth-1 &__label,
  &--depth-1 &__reference {
    @include unit-mixin.use-font-size($value: 34px);

    @include unit-mixin.define-breakpoint($until: "mobile") {
      @include unit-mixin.use-font-size($value: 30px);
    }
  }

  &--depth-1 &__description {
    @include unit-mixin.use-font-size($value: "large");

    @include unit-mixin.define-breakpoint($until: "mobile") {
      @include unit-mixin.use-font-size($value: "medium");
    }
  }

  &--depth-1 &__header + &__description {
    padding-top: 20px;
  }

  // depth: 2

  &--depth-2 &__container {
    padding-left: 20px;
    border-left-style: solid;
    border-left-width: 3px;

    @include mixin.on-theme("light") {
      $theme: map.get(settings.$kss-theme-color-scheme, "light");

      border-left-color: map.get($theme, "border-color-focus");
    }

    @include mixin.on-theme("dark") {
      $theme: map.get(settings.$kss-theme-color-scheme, "dark");

      border-left-color: map.get($theme, "border-color-focus");
    }

    @include unit-mixin.define-breakpoint($until: "mobile") {
      padding-left: 15px;
    }
  }

  &--depth-2 &__label,
  &--depth-2 &__reference {
    @include unit-mixin.use-font-size($value: 28px);

    @include unit-mixin.define-breakpoint($until: "mobile") {
      @include unit-mixin.use-font-size($value: 24px);
    }
  }

  @each $selector in $current-selectors {
    &--depth-2#{$selector} &__container {
      @include mixin.on-theme("light") {
        $theme: map.get(settings.$kss-theme-color-scheme, "light");

        border-left-color: map.get($theme, "accent-color");
      }

      @include mixin.on-theme("dark") {
        $theme: map.get(settings.$kss-theme-color-scheme, "dark");

        border-left-color: map.get($theme, "accent-color");
      }
    }
  }

  &--depth-2 &__header + &__description {
    padding-top: 15px;
  }

  // depth: 3

  &--depth-3 &__container {
    padding-left: 20px;
    border-left-style: solid;
    border-left-width: 2px;

    @include mixin.on-theme("light") {
      $theme: map.get(settings.$kss-theme-color-scheme, "light");

      border-left-color: map.get($theme, "border-color-focus");
    }

    @include mixin.on-theme("dark") {
      $theme: map.get(settings.$kss-theme-color-scheme, "dark");

      border-left-color: map.get($theme, "border-color-focus");
    }

    @include unit-mixin.define-breakpoint($until: "mobile") {
      padding-left: 15px;
    }
  }

  @each $selector in $current-selectors {
    &--depth-3#{$selector} &__container {
      @include mixin.on-theme("light") {
        $theme: map.get(settings.$kss-theme-color-scheme, "light");

        border-left-color: map.get($theme, "accent-color");
      }

      @include mixin.on-theme("dark") {
        $theme: map.get(settings.$kss-theme-color-scheme, "dark");

        border-left-color: map.get($theme, "accent-color");
      }
    }
  }

  &--depth-3 &__label,
  &--depth-3 &__reference {
    @include unit-mixin.use-font-size($value: 22px);

    @include unit-mixin.define-breakpoint($until: "mobile") {
      @include unit-mixin.use-font-size($value: 18px);
    }
  }
}

/*
kss-block-heading-b-a

Drawer heading (a)

Markup: <header class="kss-block-heading-b-a{{#if modifier_class}}  {{modifier_class}}{{/if}}  kss-unit-box{{#if this.utils}}  {{this.utils}}{{/if}}">
  <div class="kss-block-heading-b-a__container  kss-unit-box__container">
    <h1 class="kss-block-heading-b-a__name  kss-unit-text  kss-unit-text--theme-a-a-e  kss-unit-text--truncate-true">Package name</h1>
    <p class="kss-block-heading-b-a__version  kss-unit-text  kss-unit-text--theme-a-a-b  kss-unit-text--truncate-true ">v0.0.1</p>
    <p class="kss-block-heading-b-a__description  kss-unit-text  kss-unit-text--theme-a-a-a">Package description.</p>
  </div>
</header>

Style guide: kss-block-heading.b.a
*/
.kss-block-heading-b-a {
  &__container {
    // has no settings
  }

  &__name {
    @include unit-mixin.use-font-family($value: settings.$kss-font-family-heading);
    @include unit-mixin.use-font-size($value: "2xlarge");

    text-align: center;
    font-weight: 300;
  }

  &__version {
    @include unit-mixin.use-font-family($value: settings.$kss-font-family-number);
    @include unit-mixin.use-font-size($value: "small");

    text-align: center;
  }

  &__description {
    @include unit-mixin.use-font-size($value: "small");

    text-align: center;
  }

  &__name + &__description,
  &__version + &__description {
    padding-top: 10px;
  }
}
