@use "@hidoo/unit/src/lib/mixin" as unit-mixin;

/*
kss-block-table

kss blocks for table.

Weight: -100

Style guide: kss-block-table
*/

/*
kss-block-table-a-a

table (a) (a)

Markup: <div class="kss-block-table-a-a{{#if modifier_class}}  {{modifier_class}}{{/if}}  kss-unit-box{{#if this.utils}}  {{this.utils}}{{/if}}">
  <div class="kss-block-table-a-a__container  kss-unit-box__container">
    <table class="kss-block-table-a-a__list  kss-unit-table-a-a-a">
      <tr>
        <th class="kss-block-table-a-a__list__head  kss-unit-table-a-a-a__column  kss-unit-table-a-a-a__column--head" scope="col">
          <p class="kss-block-table-a-a__heading  kss-unit-text  kss-unit-text--theme-a-a-b">PARAMETER</p>
        </th>
        <th class="kss-block-table-a-a__list__head  kss-unit-table-a-a-a__column  kss-unit-table-a-a-a__column--head" scope="col">
          <p class="kss-block-table-a-a__heading  kss-unit-text  kss-unit-text--theme-a-a-b">DESCRIPTION</p>
        </th>
        <th class="kss-block-table-a-a__list__head  kss-unit-table-a-a-a__column  kss-unit-table-a-a-a__column--head" scope="col">
          <p class="kss-block-table-a-a__heading  kss-unit-text  kss-unit-text--theme-a-a-b">DEFAULT</p>
        </th>
      </tr>
      <tr>
        <td class="kss-block-table-a-a__list__body  kss-unit-table-a-a-a__column">
          <code class="kss-block-table-a-a__name  kss-unit-text  kss-unit-text--theme-b-a-a  kss-unit-text--inline-block  kss-unit-text--truncate-true">$param</code>
        </td>
        <td class="kss-block-table-a-a__list__body  kss-unit-table-a-a-a__column">
          <div class="kss-block-table-a-a__description  kss-unit-document  kss-unit-document--theme-a-a-a">
            <p><code>$param</code> description.</p>
          </div>
        </td>
        <td class="kss-block-table-a-a__list__body  kss-unit-table-a-a-a__column">
          <code class="kss-block-table-a-a__default  kss-unit-text  kss-unit-text--theme-b-a-a  kss-unit-text--inline-block  kss-unit-text--truncate-true">"default value"</code>
        </td>
      </tr>
    </table>
  </div>
</div>

Style guide: kss-block-table.a.a
*/
.kss-block-table-a-a {
  &__container {
    overflow: scroll;

    // for smooth scrolling
    -webkit-overflow-scrolling: touch;
  }

  &__list {
    width: 100%;
    border-top: 0;

    &__head {
      padding: 0 10px 10px;
      line-height: 0;
      vertical-align: middle;
      border-top: 0;
    }

    &__body {
      padding: 10px;
      line-height: 0;
      vertical-align: middle;
    }
  }

  &__heading {
    @include unit-mixin.font-apply-size($value: "small");

    white-space: nowrap;
  }

  &__description {
    @include unit-mixin.font-apply-size($value: "small");

    white-space: nowrap;
  }

  &__name,
  &__default {
    @include unit-mixin.font-apply-family($value: "monospace");
    @include unit-mixin.font-apply-size($value: "small", $monospace: true);

    width: auto;
    white-space: nowrap;
  }
}
