@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-list

component for list of device text.

Weight: -1080

Style guide: #{settings.$prefix}-list
*/

/*
core

core module of #{settings.$prefix}-list

Weight: -100

Style guide: #{settings.$prefix}-list.core
*/

/*
default style

default style of #{settings.$prefix}-list

Weight: -100

Markup: <!-- un ordered list -->
<ul class="#{settings.$prefix}-list">
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.
    <ul class="#{settings.$prefix}-list">
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    </ul>
  </li>
</ul>
<!-- ordered list -->
<ol class="#{settings.$prefix}-list">
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.
    <ol class="#{settings.$prefix}-list">
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    </ol>
  </li>
</ol>

Style guide: #{settings.$prefix}-list.core.base
*/
.#{settings.$prefix}-list { // stylelint-disable-line scss/selector-nest-combinators
  @include mixin.box-initialize();

  color: inherit;
  background-color: transparent;

  &__item {
    &::before {
      display: none; // stylelint-disable-line a11y/no-display-none
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      text-align: center;
      white-space: nowrap;
      word-wrap: normal;
    }
  }
}
