@use "../../settings";

/*
item-marker

item-marker modifiers of #{settings.$prefix}-list

Weight: -98

Style guide: #{settings.$prefix}-list.item-marker
*/

/*
modifiers: item-marker

builtin modifiers of item-marker for #{settings.$prefix}-list

Weight: -100

Markup: <!-- un ordered list -->
<ul class="#{settings.$prefix}-list  #{settings.$prefix}-list--marker-circle-filled">
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
  <li class="#{settings.$prefix}-list__item  {{modifier_class}}  #{settings.$prefix}-text" data-#{settings.$prefix}-list-item-marker="▸">Lorem ipsum dolor sit amet.</li>
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
</ul>
<!-- ordered list -->
<ol class="#{settings.$prefix}-list  #{settings.$prefix}-list--marker-numeric">
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
  <li class="#{settings.$prefix}-list__item  {{modifier_class}}  #{settings.$prefix}-text" data-#{settings.$prefix}-list-item-marker="Ⅱ">Lorem ipsum dolor sit amet.</li>
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
</ol>

#{settings.$prefix}-list__item--marker-none - no item-marker
#{settings.$prefix}-list__item--marker-no-increment - no-increment item-marker
#{settings.$prefix}-list__item--marker-custom - custom item-marker

Style guide: #{settings.$prefix}-list.item-marker.builtin
*/
.#{settings.$prefix}-list__item--marker { // stylelint-disable-line scss/selector-nest-combinators
  &-none {
    &::before {
      content: none !important;
    }
  }

  &-no-increment {
    counter-increment: none !important;
  }

  &-custom {
    $attribute-name: "data-#{settings.$prefix}-list-item-marker";

    &::before {
      content: attr(#{$attribute-name}) !important;
    }
  }
}
