@use "sass:string";
@use "../../lib/mixin";
@use "../../settings";

/*
marker

marker modifiers of #{settings.$prefix}-list

Weight: -99

Style guide: #{settings.$prefix}-list.marker
*/

/*
modifiers: marker

builtin modifiers of marker for #{settings.$prefix}-list

Weight: -100

Markup: <!-- un ordered list -->
<ul class="#{settings.$prefix}-list  {{modifier_class}}">
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.
    <ul class="#{settings.$prefix}-list  {{modifier_class}}">
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    </ul>
  </li>
</ul>
<!-- ordered list -->
<ol class="#{settings.$prefix}-list  {{modifier_class}}">
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
  <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.
    <ol class="#{settings.$prefix}-list  {{modifier_class}}">
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</li>
      <li class="#{settings.$prefix}-list__item  #{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
    </ol>
  </li>
</ol>

#{settings.$prefix}-list--marker-none - no marker (**default**)
#{settings.$prefix}-list--marker-circle - circle marker
#{settings.$prefix}-list--marker-circle-filled - circle marker (filled)
#{settings.$prefix}-list--marker-square - square marker
#{settings.$prefix}-list--marker-square-filled - square marker (filled)
#{settings.$prefix}-list--marker-numeric - numeric marker

Style guide: #{settings.$prefix}-list.marker.builtin
*/
.#{settings.$prefix}-list--marker { // stylelint-disable-line scss/selector-nest-combinators
  &-none {
    // has no settings
  }

  &-circle {
    $selector: string.unique-id();

    @include mixin.placeholder-define($name: $selector) {
      padding-left: 1.3em;

      &::before {
        display: block;
        width: 1.2em;
      }
    }

    > .#{settings.$prefix}-list__item { // stylelint-disable-line scss/selector-nest-combinators
      @extend %#{$selector};

      &::before {
        content: "\0025E6";
      }
    }

    &-filled {
      > .#{settings.$prefix}-list__item { // stylelint-disable-line scss/selector-nest-combinators
        @extend %#{$selector};

        &::before {
          content: "\002022";
        }
      }
    }
  }

  &-square {
    $selector: string.unique-id();

    @include mixin.placeholder-define($name: $selector) {
      padding-left: 1.3em;

      &::before {
        display: block;
        width: 1.2em;
      }
    }

    > .#{settings.$prefix}-list__item { // stylelint-disable-line scss/selector-nest-combinators
      @extend %#{$selector};

      &::before {
        content: "\0025FB";
      }
    }

    &-filled {
      > .#{settings.$prefix}-list__item { // stylelint-disable-line scss/selector-nest-combinators
        @extend %#{$selector};

        &::before {
          content: "\0025FC";
        }
      }
    }
  }

  &-numeric {
    $counter-name: "#{settings.$prefix}-list--marker-numeric";

    counter-reset: #{$counter-name};

    > .#{settings.$prefix}-list__item { // stylelint-disable-line scss/selector-nest-combinators
      padding-left: 1.6em;
      counter-increment: #{$counter-name};

      &::before {
        content: counter(#{$counter-name}, decimal) ".";
        display: block;
        width: 1.5em;
      }
    }
  }
}
