@charset "utf-8";

@import "~@hidoo/unit/src/settings";
@import "./module/a";

.selector {
  content: "use variable of 'module/a'. (value: #{$a-var})";
  font-size: $font-base-size;

  @if global-variable-exists("_a-private-var") {
    content: "use private variable of 'module/a'. (value: #{$_a-private-var})";
  }
  @else {
    content: "Can't use private variable.";
  }
}
