@use "../../settings";

/*
align

align modifiers of #{settings.$prefix}-text

Weight: -96

Style guide: #{settings.$prefix}-text.align
*/

/*
modifiers: align

builtin modifiers of alignment for #{settings.$prefix}-text

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet.</h1>
<p class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

#{settings.$prefix}-text--align-left - left aligned (**default**)
#{settings.$prefix}-text--align-center - center aligned
#{settings.$prefix}-text--align-right - right aligned

Style guide: #{settings.$prefix}-text.align.builtin
*/
.#{settings.$prefix}-text--align { // stylelint-disable-line scss/selector-nest-combinators
  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}
