@use "sass:map";
@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-text

component for device text.

Weight: -1090

Style guide: #{settings.$prefix}-text
*/

/*
core

core module of #{settings.$prefix}-text

Weight: -100

Style guide: #{settings.$prefix}-text.core
*/

/*
default style

default style of #{settings.$prefix}-text

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet.</h1>
<p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

Style guide: #{settings.$prefix}-text.core.base
*/
.#{settings.$prefix}-text { // stylelint-disable-line scss/selector-nest-combinators
  @include mixin.box-initialize();
  @include mixin.text-initialize();
  @include mixin.font-initialize();
  @include mixin.font-apply-size(
    $value: "medium"
  );

  color: inherit;
  background-color: transparent;
}

/*
link style

default style of link in #{settings.$prefix}-text

Weight: -99

Markup: <h1 class="#{settings.$prefix}-text">Lorem ipsum dolor <a class="#{settings.$prefix}-text__link" href="javascript:;">sit amet</a>.</h1>
<p class="#{settings.$prefix}-text">Lorem ipsum dolor <a class="#{settings.$prefix}-text__link" href="javascript:;">sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</a>.</p>

Style guide: #{settings.$prefix}-text.core.link
*/
.#{settings.$prefix}-text__link { // stylelint-disable-line scss/selector-nest-combinators
  display: inline;
  background-color: transparent;

  @include mixin.on-link() {
    text-decoration: underline;
    color: map.get(settings.$link-color, "link");
  }

  @include mixin.on-focus() {
    text-decoration: none;
    color: map.get(settings.$link-color, "focus");
  }
}
