@use "../../settings";

/*
decoration

decoration modifiers of #{settings.$prefix}-text

Weight: -91

Style guide: #{settings.$prefix}-text.decoration
*/

/*
modifiers: decoration

builtin modifiers of decoration for #{settings.$prefix}-text

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet.</h1>
<p class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

#{settings.$prefix}-text--decoration-false - disable decoration
#{settings.$prefix}-text--decoration-overline - enable overline
#{settings.$prefix}-text--decoration-strikeline - enable strikeline
#{settings.$prefix}-text--decoration-underline - enable underline

Style guide: #{settings.$prefix}-text.decoration.builtin
*/
.#{settings.$prefix}-text--decoration { // stylelint-disable-line scss/selector-nest-combinators
  &-false {
    // has no settings
  }

  &-overline {
    text-decoration: overline;
  }

  &-strikeline {
    text-decoration: line-through;
  }

  &-underline {
    text-decoration: underline;
  }
}
