@use "../../settings";

/*
inline

inline modifiers of #{settings.$prefix}-text

Weight: -97

Style guide: #{settings.$prefix}-text.inline
*/

/*
modifiers: inline

builtin modifiers of inline for #{settings.$prefix}-text

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet.</h1>
<p class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

#{settings.$prefix}-text--inline-false - disable inline (**default**)
#{settings.$prefix}-text--inline-true - enable inline
#{settings.$prefix}-text--inline-block - enable inline-block

Style guide: #{settings.$prefix}-text.inline.builtin
*/
.#{settings.$prefix}-text--inline { // stylelint-disable-line scss/selector-nest-combinators
  &-false {
    // has no settings
  }

  &-true {
    display: inline;
  }

  &-block {
    display: inline-block;
  }
}
