@use "../../settings";

/*
letter-spacing

letter-spacing modifiers of #{settings.$prefix}-text

Weight: -93

Style guide: #{settings.$prefix}-text.letter-spacing
*/

/*
modifiers: letter-spacing

builtin modifiers of letter-spacing for #{settings.$prefix}-text

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet.</h1>
<p class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

#{settings.$prefix}-text--letter-spacing-default - default letter-spacing (**default**)
#{settings.$prefix}-text--letter-spacing-narrow - set narrow
#{settings.$prefix}-text--letter-spacing-wide - set wide

Style guide: #{settings.$prefix}-text.letter-spacing.builtin
*/
.#{settings.$prefix}-text--letter-spacing { // stylelint-disable-line scss/selector-nest-combinators
  &-default {
    letter-spacing: settings.$letter-spacing;
  }

  &-normal {
    letter-spacing: normal;
  }

  &-narrow {
    letter-spacing: 0;
  }

  &-wide {
    letter-spacing: 0.1em;
  }
}
