/*
letter-spacing

letter-spacing modifiers of #{$unit-prefix}-text

Weight: -93

Style guide: #{$unit-prefix}-text.letter-spacing
*/

/*
modifiers: letter-spacing

builtin modifiers of letter-spacing for #{$unit-prefix}-text

Weight: -100

Markup: <h1 class="#{$unit-prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet.</h1>
<p class="#{$unit-prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

#{$unit-prefix}-text--letter-spacing-default - default letter-spacing (**default**)
#{$unit-prefix}-text--letter-spacing-narrow - set narrow
#{$unit-prefix}-text--letter-spacing-wide - set wide

Style guide: #{$unit-prefix}-text.letter-spacing.builtin
*/
.#{$unit-prefix}-text--letter-spacing {
  &-default {
    letter-spacing: $unit-letter-spacing;
  }

  &-normal {
    letter-spacing: normal;
  }

  &-narrow {
    letter-spacing: 0;
  }

  &-wide {
    letter-spacing: 0.1em;
  }
}
