@use "sass:map";
@use "sass:meta";
@use "../../settings";

/*
theme

theme modifiers of #{settings.$prefix}-text

Weight: -99

Style guide: #{settings.$prefix}-text.theme
*/

/*
modifiers: theme

builtin modifiers of theme for #{settings.$prefix}-text

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet.</h1>
<p class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

#{settings.$prefix}-text--theme-light - light theme
#{settings.$prefix}-text--theme-dark - dark theme

Style guide: #{settings.$prefix}-text.theme.builtin
*/
.#{settings.$prefix}-text--theme { // stylelint-disable-line scss/selector-nest-combinators
  @if meta.type-of(settings.$builtin-themes) == "map" {
    @each $name, $theme in settings.$builtin-themes {
      $color: map.get($theme, "color");

      &-#{$name} {
        color: $color;
      }
    }
  }
}
