@use "../../settings";

/*
truncate

truncate modifiers of #{settings.$prefix}-text

Weight: -95

Style guide: #{settings.$prefix}-text.truncate
*/

/*
modifiers: truncate

builtin modifiers of truncate for #{settings.$prefix}-text

Weight: -100

Markup: <h1 class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet.</h1>
<p class="#{settings.$prefix}-text  {{modifier_class}}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

#{settings.$prefix}-text--truncate-false - disable truncate (**default**)
#{settings.$prefix}-text--truncate-true - enable truncate

Style guide: #{settings.$prefix}-text.truncate.builtin
*/
.#{settings.$prefix}-text--truncate { // stylelint-disable-line scss/selector-nest-combinators
  &-false {
    // has no settings
  }

  &-true {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
  }
}
