// stylelint-disable scss/dollar-variable-default

/// prefix of class name of components
/// @type String
///
$unit-prefix: "kss-unit";

/// prefix of class name of utilities
/// @type String
///
$unit-util-prefix: "kss-util";

/// enable relative font-size specify.
/// override base size settings of font
/// @type Boolean
///
$unit-font-enable-relative-size: false;
