@charset "utf-8";

// use settings with configure
@use "@hidoo/unit/src/settings" with (
  $prefix: "kss-unit",
  $util-prefix: "kss-util",
  $font-enable-relative-size: false
);

// use units
@use "./unit/icon";
@use "./unit/text";
@use "./unit/list";
@use "./unit/button";
@use "./unit/document";
@use "./unit/table";
@use "./unit/box";
@use "./unit/table-grid";

// use util
@use "./util";

// use block
@use "./block";

// use layout
@use "./layout";

// // import kss comment example
// @import "lib/example/*";

// initialize
@use "./bootstrap";
