@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-table

component for table.

Weight: -1050

Style guide: #{settings.$prefix}-table
*/

/*
core

core module of #{settings.$prefix}-table

Weight: -100

Style guide: #{settings.$prefix}-table.core
*/

/*
builtin style

builtin style of #{settings.$prefix}-table

Weight: -100

Markup: <table class="{{modifier_class}}">
  <tr>
    <th class="{{modifier_class}}__column  {{modifier_class}}__column--head" scope="row">Lorem ipsum dolor sit amet.</th>
    <td class="{{modifier_class}}__column">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
  </tr>
  <tr>
    <th class="{{modifier_class}}__column  {{modifier_class}}__column--head" scope="row">Lorem ipsum dolor sit amet.</th>
    <td class="{{modifier_class}}__column">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
  </tr>
</table>

#{settings.$prefix}-table-light - builtin light style
#{settings.$prefix}-table-dark - builtin dark style

Style guide: #{settings.$prefix}-table.core.builtin
*/
.#{settings.$prefix}-table { // stylelint-disable-line scss/selector-nest-combinators
  $selector: string.unique-id();
  $selector-column: string.unique-id();

  // define placeholder class
  @include mixin.placeholder-define($name: $selector) {
    @include mixin.table-initialize();

    color: inherit;
    background-color: transparent;
  }

  // define placeholder class of column
  @include mixin.placeholder-define($name: $selector-column) {
    @include mixin.table-initialize-column(
      $padding: 5px 10px (5px * 1.5)
    );
    @include mixin.text-initialize();
    @include mixin.font-initialize();
    @include mixin.font-apply-size(
      $value: "medium"
    );
  }

  @if meta.type-of(settings.$builtin-themes) == "map" {
    @each $name, $theme in settings.$builtin-themes {
      $color: map.get($theme, "color");
      $background: map.get($theme, "background");
      $background-focus: map.get($theme, "background-focus");
      $border: map.get($theme, "border");
      $border-focus: map.get($theme, "border-focus");

      &-#{$name} {
        @extend %#{$selector};

        border-color: if($name == "light", $border, $border-focus);

        &__column {
          @extend %#{$selector-column};

          color: $color;
          background-color: $background;
          border-color: if($name == "light", $border, $border-focus);

          &--head {
            background-color: $background-focus;
          }
        }
      }
    }
  }
}
