@use "../../lib/mixin";
@use "../../settings";

/*
break

break modifiers of #{settings.$prefix}-table-grid

Weight: -99

Style guide: #{settings.$prefix}-table-grid.break
*/

/*
modifiers: break

builtin modifiers of break for #{settings.$prefix}-table-grid

Weight: -100

Markup: <div class="#{settings.$prefix}-table-grid  {{modifier_class}}">
  <div class="#{settings.$prefix}-table-grid__column">
    <!-- some unit -->
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-table-grid__column">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
</div>

#{settings.$prefix}-table-grid--break-if-mobile - break column if mobile viewport
#{settings.$prefix}-table-grid--break-if-not-mobile - break column if not mobile viewport

Style guide: #{settings.$prefix}-table-grid.break.builtin
*/
.#{settings.$prefix}-table-grid--break { // stylelint-disable-line scss/selector-nest-combinators
  &-if-mobile {
    @include mixin.define-breakpoint($until: "mobile") {
      display: block;
      height: auto;

      > .#{settings.$prefix}-table-grid__column { // stylelint-disable-line scss/selector-nest-combinators
        display: block;
      }
    }
  }

  &-if-not-mobile {
    @include mixin.define-breakpoint($from: "mobile") {
      display: block;
      height: auto;

      > .#{settings.$prefix}-table-grid__column { // stylelint-disable-line scss/selector-nest-combinators
        display: block;
      }
    }
  }
}
