@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-table-grid

component for table-grid.

Weight: -990

Style guide: #{settings.$prefix}-table-grid
*/

/*
core

core module of #{settings.$prefix}-table-grid

Weight: -100

Style guide: #{settings.$prefix}-table-grid.core
*/

/*
default style

default style of #{settings.$prefix}-table-grid

Weight: -100

Markup: <div class="#{settings.$prefix}-table-grid">
  <div class="#{settings.$prefix}-table-grid__column">
    <!-- some unit -->
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-table-grid__column">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
</div>

Style guide: #{settings.$prefix}-table-grid.core.base
*/
.#{settings.$prefix}-table-grid { // stylelint-disable-line scss/selector-nest-combinators
  @include mixin.box-initialize(
    $display: "table",
    $box-sizing: "border-box"
  );

  width: 100%;
  height: 100%;
  vertical-align: top;
  color: inherit;
  background-color: transparent;
  border-collapse: collapse;

  &__column {
    @include mixin.box-apply-clearfix();
    @include mixin.box-initialize(
      $display: "table-cell",
      $box-sizing: "border-box"
    );

    width: auto;
    vertical-align: inherit;
    color: inherit;
    background-color: transparent;
  }
}
