@use "../../settings";

/*
inline

inline modifiers of #{settings.$prefix}-select

Weight: -98

Style guide: #{settings.$prefix}-select.inline
*/

/*
modifiers: inline

builtin modifiers of inline for #{settings.$prefix}-select

Weight: -100

Markup: <span class="#{settings.$prefix}-select  #{settings.$prefix}-select--theme-light  {{modifier_class}}">
  <select class="#{settings.$prefix}-select__field" name="{{modifier_class}}">
    <option value="">select...</option>
    <option value="option-1">Lorem ipsum dolor sit amet</option>
    <option value="option-2">Consectetur adipiscing elit</option>
  </select>
</span>
<!-- disabled -->
<span class="#{settings.$prefix}-select  #{settings.$prefix}-select--theme-dark  {{modifier_class}}">
  <select class="#{settings.$prefix}-select__field" name="{{modifier_class}}" disabled="disabled">
    <option value="">select...</option>
    <option value="option-1">Lorem ipsum dolor sit amet</option>
    <option value="option-2">Consectetur adipiscing elit</option>
  </select>
</span>

#{settings.$prefix}-select--inline-false - disable inline (**default**)
#{settings.$prefix}-select--inline-true - enable inline

Style guide: #{settings.$prefix}-select.inline.builtin
*/
.#{settings.$prefix}-select--inline { // stylelint-disable-line scss/selector-nest-combinators
  &-false {
    // has no settings
  }

  &-true {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
