@use "../../lib/mixin";
@use "../../settings";

/*
align

align modifiers of #{settings.$prefix}-flex-grid

Weight: -98

Style guide: #{settings.$prefix}-flex-grid.align
*/

/*
modifiers: align

builtin modifiers of align for #{settings.$prefix}-flex-grid

Weight: -100

Markup: <div class="#{settings.$prefix}-flex-grid  {{modifier_class}}">
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet.</p>
    <!-- some unit -->
  </div>
</div>

#{settings.$prefix}-flex-grid--align-start - align start of flow (**default**)
#{settings.$prefix}-flex-grid--align-center - align center of flow
#{settings.$prefix}-flex-grid--align-end - align end of flow
#{settings.$prefix}-flex-grid--align-space-between - align space between
#{settings.$prefix}-flex-grid--align-space-around - align space around

Style guide: #{settings.$prefix}-flex-grid.align.builtin
*/
.#{settings.$prefix}-flex-grid--align { // stylelint-disable-line scss/selector-nest-combinators
  &-start {
    justify-content: flex-start;
    align-content: flex-start;
  }

  &-center {
    justify-content: center;
    align-content: center;
  }

  &-end {
    justify-content: flex-end;
    align-content: flex-end;
  }

  &-space-between {
    justify-content: space-between;
    align-content: space-between;
  }

  &-space-around {
    justify-content: space-around;
    align-content: space-around;
  }
}
