@use "../../lib/mixin";
@use "../../settings";

/*
align-items

align-items modifiers of #{settings.$prefix}-flex-grid

Weight: -97

Style guide: #{settings.$prefix}-flex-grid.align-items
*/

/*
modifiers: align-items

builtin modifiers of align-items for #{settings.$prefix}-flex-grid

Weight: -100

Markup: <div class="#{settings.$prefix}-flex-grid  {{modifier_class}}">
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet.</p>
    <!-- some unit -->
  </div>
</div>

#{settings.$prefix}-flex-grid--align-items-stretch - align-items stretch (**default**)
#{settings.$prefix}-flex-grid--align-items-start - align-items start of flow
#{settings.$prefix}-flex-grid--align-items-center - align-items center of flow
#{settings.$prefix}-flex-grid--align-items-end - align-items end of flow

Style guide: #{settings.$prefix}-flex-grid.align-items.builtin
*/
.#{settings.$prefix}-flex-grid--align-items { // stylelint-disable-line scss/selector-nest-combinators
  &-stretch {
    align-items: stretch;
  }

  &-start {
    align-items: flex-start;
  }

  &-center {
    align-items: center;
  }

  &-end {
    align-items: flex-end;
  }
}
