@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-flex-grid

component for flex-grid.

Weight: -980

Style guide: #{settings.$prefix}-flex-grid
*/

/*
core

core module of #{settings.$prefix}-flex-grid

Weight: -100

Style guide: #{settings.$prefix}-flex-grid.core
*/

/*
default style

default style of #{settings.$prefix}-flex-grid

Weight: -100

Markup: <div class="#{settings.$prefix}-flex-grid">
  <div class="#{settings.$prefix}-flex-grid__column">
    <!-- some unit -->
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
</div>

Style guide: #{settings.$prefix}-flex-grid.core.base
*/
.#{settings.$prefix}-flex-grid { // stylelint-disable-line scss/selector-nest-combinators
  @include mixin.use-box-base(
    $display: "flex",
    $box-sizing: "border-box"
  );

  // flex box settings
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;

  // other settings
  width: 100%;
  height: 100%;
  vertical-align: top;
  color: inherit;
  background-color: transparent;
  border-collapse: collapse;

  &__column {
    @include mixin.use-clearfix();
    @include mixin.use-box-base(
      $box-sizing: "border-box"
    );

    // flex box settings
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 1;

    // other settings
    width: auto;
    vertical-align: inherit;
    color: inherit;
    background-color: transparent;
  }
}
