@use "../../lib/mixin";
@use "../../settings";

/*
wrap

wrap modifiers of #{settings.$prefix}-flex-grid

Weight: -96

Style guide: #{settings.$prefix}-flex-grid.wrap
*/

/*
modifiers: wrap

builtin modifiers of wrap for #{settings.$prefix}-flex-grid

Weight: -100

Markup: <div class="#{settings.$prefix}-flex-grid  {{modifier_class}}">
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
  <div class="#{settings.$prefix}-flex-grid__column  #{settings.$util-prefix}--width-max-200">
    <!-- some unit -->
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet.</p>
    <!-- some unit -->
  </div>
</div>

#{settings.$prefix}-flex-grid--wrap-false - disable wrap columns (**default**)
#{settings.$prefix}-flex-grid--wrap-true - enable wrap columns

Style guide: #{settings.$prefix}-flex-grid.wrap.builtin
*/
.#{settings.$prefix}-flex-grid--wrap { // stylelint-disable-line scss/selector-nest-combinators
  &-false {
    flex-wrap: nowrap;
  }

  &-true {
    flex-wrap: wrap;
  }
}
