@use "sass:map";
@use "../../lib/mixin";
@use "../../lib/placeholder";
@use "../../settings";

/*
modifiers: texture

builtin modifiers of texture for kss-unit-box

Weight: -99

Markup: <div class="kss-unit-box  {{modifier_class}}">
  <div class="kss-unit-box__container">
    <!-- some unit -->
    <p class="kss-unit-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <figure class="kss-unit-pict  kss-unit-pict--fit-max-width  util--float-left">
      <img class="kss-unit-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="kss-unit-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
</div>

kss-unit-box--texture-transparent - transparent texture

Style guide: kss-unit-box.texture.extend
*/
.kss-unit-box--texture {
  &-transparent {
    @include mixin.on-theme("example-light") {
      background-color: #fff;
    }

    @include mixin.on-theme("example-dark") {
      background-color: #000;
    }

    @include mixin.on-theme("example-light-transparent") {
      @extend %transparent-light;

      background-color: #fff;
    }

    @include mixin.on-theme("example-dark-transparent") {
      @extend %transparent-dark;

      background-color: #000;
    }
  }
}
