@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-box

component for box.

Weight: -1000

Style guide: #{settings.$prefix}-box
*/

/*
core

core module of #{settings.$prefix}-box

Weight: -100

Style guide: #{settings.$prefix}-box.core
*/

/*
default style

default style of #{settings.$prefix}-box

Weight: -100

Markup: <div class="#{settings.$prefix}-box">
  <div class="#{settings.$prefix}-box__container">
    <!-- some unit -->
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
</div>

Style guide: #{settings.$prefix}-box.core.base
*/
.#{settings.$prefix}-box { // stylelint-disable-line scss/selector-nest-combinators
  @include mixin.box-apply-clearfix();
  @include mixin.box-initialize();

  width: auto;
  text-align: left;
  color: inherit;
  background-color: transparent;

  &__container {
    @include mixin.box-apply-clearfix();
    @include mixin.box-initialize();

    width: auto;
    text-align: left;
    color: inherit;
    background-color: transparent;
  }
}
