/*
texture

texture modifiers of #{$unit-prefix}-box

Weight: -98

Style guide: #{$unit-prefix}-box.texture
*/

/*
modifiers: texture

builtin modifiers of texture for #{$unit-prefix}-box

Weight: -100

Markup: <div class="#{$unit-prefix}-box  {{modifier_class}}">
  <div class="#{$unit-prefix}-box__container">
    <!-- some unit -->
    <p class="#{$unit-prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <figure class="#{$unit-prefix}-pict  #{$unit-prefix}-pict--fit-max-width  #{$unit-util-prefix}--float-left">
      <img class="#{$unit-prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{$unit-prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
</div>

#{$unit-prefix}-box--texture-default - default texture

Style guide: #{$unit-prefix}-box.texture.builtin
*/
.#{$unit-prefix}-box--texture {
  &-default {
    // has no settings
  }
}
