@use "../../settings";

/*
texture

texture modifiers of #{settings.$prefix}-box

Weight: -98

Style guide: #{settings.$prefix}-box.texture
*/

/*
modifiers: texture

builtin modifiers of texture for #{settings.$prefix}-box

Weight: -100

Markup: <div class="#{settings.$prefix}-box  {{modifier_class}}">
  <div class="#{settings.$prefix}-box__container">
    <!-- some unit -->
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <figure class="#{settings.$prefix}-pict  #{settings.$prefix}-pict--fit-max-width  #{settings.$util-prefix}--float-left">
      <img class="#{settings.$prefix}-pict__src" src="https://picsum.photos/200/150/?grayscale&amp;blur=10" alt="" width="200" height="150" />
    </figure>
    <p class="#{settings.$prefix}-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <!-- some unit -->
  </div>
</div>

#{settings.$prefix}-box--texture-default - default texture

Style guide: #{settings.$prefix}-box.texture.builtin
*/
.#{settings.$prefix}-box--texture { // stylelint-disable-line scss/selector-nest-combinators
  &-default {
    // has no settings
  }
}
