@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-icon

component for icon.

Weight: -1100

Style guide: #{settings.$prefix}-icon
*/

/*
core

core module of #{settings.$prefix}-icon

Weight: -100

Style guide: #{settings.$prefix}-icon.core
*/

/*
default style

default style of #{settings.$prefix}-icon

Weight: -100

Markup: <span class="#{settings.$prefix}-icon"></span>

Style guide: #{settings.$prefix}-icon.core.base
*/
.#{settings.$prefix}-icon { // stylelint-disable-line scss/selector-nest-combinators
  @include mixin.box-initialize(
    $overflow: "hidden"
  );
  @include mixin.text-initialize(
    $text-indent: -100%
  );
  @include mixin.font-initialize();
  @include mixin.font-apply-size(
    $value: "medium"
  );

  color: inherit;
  background-color: transparent;
}
