@use "../../settings";

/*
direction

direction modifiers of #{settings.$prefix}-icon

Weight: -97

Style guide: #{settings.$prefix}-icon.direction
*/

/*
modifiers: direction

builtin modifiers of direction for #{settings.$prefix}-icon

Weight: -100

Markup: <span class="#{settings.$prefix}-icon  #{settings.$prefix}-icon--type-arrow-light  {{modifier_class}}"></span>
<span class="#{settings.$prefix}-icon  #{settings.$prefix}-icon--type-arrow-dark  {{modifier_class}}"></span>

#{settings.$prefix}-icon--direction-top - top
#{settings.$prefix}-icon--direction-right - right
#{settings.$prefix}-icon--direction-bottom - bottom
#{settings.$prefix}-icon--direction-left - left

Style guide: #{settings.$prefix}-icon.direction.builtin
*/
.#{settings.$prefix}-icon--direction { // stylelint-disable-line scss/selector-nest-combinators
  &-top {
    transform-origin: 50% 50%;
    transform: rotate(0);
  }

  &-right {
    transform-origin: 50% 50%;
    transform: rotate(90deg);
  }

  &-bottom {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
  }

  &-left {
    transform-origin: 50% 50%;
    transform: rotate(-90deg);
  }
}
