@use "../../settings";

/*
inline

inline modifiers of #{settings.$prefix}-icon

Weight: -98

Style guide: #{settings.$prefix}-icon.inline
*/

/*
modifiers: inline

builtin modifiers of inline for #{settings.$prefix}-icon

Weight: -100

Markup: <span class="#{settings.$prefix}-icon  #{settings.$prefix}-icon--type-arrow-light  {{modifier_class}}"></span>
<span class="#{settings.$prefix}-icon  #{settings.$prefix}-icon--type-arrow-dark  {{modifier_class}}"></span>

#{settings.$prefix}-icon--inline-false - disable inline (**default**)
#{settings.$prefix}-icon--inline-true - enable inline

Style guide: #{settings.$prefix}-icon.inline.builtin
*/
.#{settings.$prefix}-icon--inline { // stylelint-disable-line scss/selector-nest-combinators
  &-false {
    // has no settings
  }

  &-true {
    display: inline-block;
    vertical-align: middle;
  }
}
