@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-button

component for button.

Weight: -1060

Style guide: #{settings.$prefix}-button
*/

/*
core

core module of #{settings.$prefix}-button

Weight: -100

Style guide: #{settings.$prefix}-button.core
*/

/*
default style

default style of #{settings.$prefix}-button

Weight: -100

Markup: <!-- link element -->
<a class="#{settings.$prefix}-button" href="javascript:;">
  <span class="#{settings.$prefix}-button__label  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</span>
</a>
<!-- button element -->
<button class="#{settings.$prefix}-button">
  <span class="#{settings.$prefix}-button__label  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</span>
</button>

Style guide: #{settings.$prefix}-button.core.base
*/
.#{settings.$prefix}-button { // stylelint-disable-line scss/selector-nest-combinators
  @include mixin.box-initialize(
    $overflow: "hidden",
    $box-sizing: "border-box"
  );
  @include mixin.text-initialize(
    $letter-spacing: 0,
    $line-height: 1,
    $text-align: "center"
  );
  @include mixin.font-initialize();
  @include mixin.font-apply-size(
    $value: "medium"
  );

  // for button element, because it always inline-block
  width: 100%;

  // other settings
  color: inherit;
  background-color: transparent;

  @at-root {
    button#{&} {
      appearance: none; // stylelint-disable-line plugin/no-unsupported-browser-features
      cursor: pointer;
    }
  }

  &__label {
    line-height: normal;
    text-align: center;
    color: inherit;
    background-color: transparent;
  }
}
