@use "../../settings";

/*
inline

inline modifiers of #{settings.$prefix}-button

Weight: -98

Style guide: #{settings.$prefix}-button.inline
*/

/*
modifiers: inline

builtin modifiers of inline for #{settings.$prefix}-button

Weight: -100

Markup: <!-- link element -->
<a class="#{settings.$prefix}-button  #{settings.$prefix}-button--theme-light  {{modifier_class}}" href="javascript:;">
  <span class="#{settings.$prefix}-button__label  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</span>
</a>
<!-- button element -->
<button class="#{settings.$prefix}-button  #{settings.$prefix}-button--theme-dark  {{modifier_class}}">
  <span class="#{settings.$prefix}-button__label  #{settings.$prefix}-text">Lorem ipsum dolor sit amet.</span>
</button>

#{settings.$prefix}-button--inline-false - disable inline (**default**)
#{settings.$prefix}-button--inline-true - enable inline

Style guide: #{settings.$prefix}-button.inline.builtin
*/
.#{settings.$prefix}-button--inline { // stylelint-disable-line scss/selector-nest-combinators
  &-false {
    // has no settings
  }

  &-true {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}
