@use "../../lib/mixin";
@use "../../settings";

/*
#{settings.$prefix}-toggle

component for toggle field.

Weight: -1020

Style guide: #{settings.$prefix}-toggle
*/

/*
core

core module of #{settings.$prefix}-toggle

Weight: -100

Style guide: #{settings.$prefix}-toggle.core
*/

/*
default style

default style of #{settings.$prefix}-toggle

Weight: -100

Markup: <!-- single -->
<span class="#{settings.$prefix}-toggle">
  <input class="#{settings.$prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="1" />
  <span class="#{settings.$prefix}-toggle__alt"></span>
</span>
<!-- single:disabled -->
<span class="#{settings.$prefix}-toggle">
  <input class="#{settings.$prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="2" checked="checked" disabled="disabled" />
  <span class="#{settings.$prefix}-toggle__alt"></span>
</span>
<!-- with label -->
<label>
  <span class="#{settings.$prefix}-toggle">
    <input class="#{settings.$prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="3" />
    <span class="#{settings.$prefix}-toggle__alt"></span>
  </span>
  Lorem ipsum dolor sit amet.
</label>

Style guide: #{settings.$prefix}-toggle.core.base
*/
.#{settings.$prefix}-toggle { // stylelint-disable-line scss/selector-nest-combinators
  @include mixin.box-initialize(
    $display: "inline-block"
  );

  vertical-align: baseline;
  color: inherit;
  background-color: transparent;

  &__field {
    @include mixin.box-initialize();

    vertical-align: baseline;
    cursor: pointer;

    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    outline: none;

    @include mixin.on-disabled() {
      cursor: default;
      opacity: 0.8;
    }
  }

  &__alt {
    @include mixin.box-initialize(
      $display: "none",
      $overflow: "hidden"
    );
    @include mixin.text-initialize(
      $text-indent: -100%
    );
    @include mixin.font-initialize();
    @include mixin.font-apply-size(
      $value: "medium"
    );

    color: inherit;
    background-color: transparent;
  }

  &__field:disabled + &__alt {
    cursor: default;
    opacity: 0.5;
  }
}
