/*
#{$unit-prefix}-toggle

component for toggle field.

Weight: -1020

Style guide: #{$unit-prefix}-toggle
*/

/*
core

core module of #{$unit-prefix}-toggle

Weight: -100

Style guide: #{$unit-prefix}-toggle.core
*/

/*
default style

default style of #{$unit-prefix}-toggle

Weight: -100

Markup: <!-- single -->
<span class="#{$unit-prefix}-toggle">
  <input class="#{$unit-prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="1" />
  <span class="#{$unit-prefix}-toggle__alt"></span>
</span>
<!-- single:disabled -->
<span class="#{$unit-prefix}-toggle">
  <input class="#{$unit-prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="2" checked="checked" disabled="disabled" />
  <span class="#{$unit-prefix}-toggle__alt"></span>
</span>
<!-- with label -->
<label>
  <span class="#{$unit-prefix}-toggle">
    <input class="#{$unit-prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="3" />
    <span class="#{$unit-prefix}-toggle__alt"></span>
  </span>
  Lorem ipsum dolor sit amet.
</label>

Style guide: #{$unit-prefix}-toggle.core.base
*/
.#{$unit-prefix}-toggle {
  @include use-box-base(
    $display: "inline-block"
  );

  vertical-align: baseline;
  color: inherit;
  background-color: transparent;

  &__field {
    @include use-box-base();

    vertical-align: baseline;
    cursor: pointer;

    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    outline: none;

    @include on-disabled() {
      cursor: default;
      opacity: 0.8;
    }
  }

  &__alt {
    @include use-box-base(
      $display: "none",
      $overflow: "hidden"
    );
    @include use-text-base(
      $text-indent: -100%
    );
    @include use-font-base();
    @include use-font-size(
      $value: "medium"
    );

    color: inherit;
    background-color: transparent;
  }

  &__field:disabled + &__alt {
    cursor: default;
    opacity: 0.5;
  }
}
