@use "sass:map";
@use "sass:meta";
@use "sass:string";
@use "../../lib/function";
@use "../../lib/mixin";
@use "../../settings";

/*
radio

radio modifiers of #{settings.$prefix}-toggle

Weight: -99

Style guide: #{settings.$prefix}-toggle.radio
*/

/*
modifiers: radio

builtin modifiers of radio for #{settings.$prefix}-toggle

Weight: -100

Markup: <!-- single -->
<span class="#{settings.$prefix}-toggle  {{modifier_class}}">
  <input class="#{settings.$prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="1" />
  <span class="#{settings.$prefix}-toggle__alt"></span>
</span>
<!-- single:disabled -->
<span class="#{settings.$prefix}-toggle  {{modifier_class}}">
  <input class="#{settings.$prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="2" checked="checked" disabled="disabled" />
  <span class="#{settings.$prefix}-toggle__alt"></span>
</span>
<!-- with label -->
<label>
  <span class="#{settings.$prefix}-toggle  {{modifier_class}}">
    <input class="#{settings.$prefix}-toggle__field" type="radio" name="{{modifier_class}}" value="3" />
    <span class="#{settings.$prefix}-toggle__alt"></span>
  </span>
  Lorem ipsum dolor sit amet.
</label>

#{settings.$prefix}-toggle--radio-light - light radio
#{settings.$prefix}-toggle--radio-dark - dark radio

Style guide: #{settings.$prefix}-toggle.radio.builtin
*/
.#{settings.$prefix}-toggle--radio { // stylelint-disable-line scss/selector-nest-combinators
  $selector: string.unique-id();
  $selector-field: string.unique-id();
  $selector-alt: string.unique-id();
  $selector-alt-checked: string.unique-id();
  $selectors-selected: function.merge-state-selectors("selected");
  $selectors-focus: function.merge-state-selectors("focus");
  $selectors-disabled: function.merge-state-selectors("disabled");

  // define placeholder class
  @include mixin.define-placeholder($name: $selector) {
    vertical-align: middle;
  }

  // define placeholder class of field
  @include mixin.define-placeholder($name: $selector-field) {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }

  // define placeholder class of alt
  @include mixin.define-placeholder($name: $selector-alt) {
    display: block;
    z-index: 0;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 12px;
      height: 12px;
      margin: auto;
      border-radius: 12px;
      transform-origin: 50% 50%;
      transform: scale(0);
      transition-duration: 0.2s;
      transition-property: transform;
      transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
  }

  // define placeholder class of alt when checked
  @include mixin.define-placeholder($name: $selector-alt-checked) {
    &::before {
      transform: scale(1);
    }
  }

  @if meta.type-of(settings.$builtin-themes) == "map" {
    @each $name, $theme in settings.$builtin-themes {
      $color: map.get($theme, "color");
      $color-focus: map.get($theme, "color-focus");

      &-#{$name} {
        @extend %#{$selector};

        $selector-alt-focus: string.unique-id();
        $selector-alt-disabled: string.unique-id();

        > .#{settings.$prefix}-toggle__field { // stylelint-disable-line scss/selector-nest-combinators
          @extend %#{$selector-field};

          + .#{settings.$prefix}-toggle__alt { // stylelint-disable-line scss/selector-nest-combinators
            @extend %#{$selector-alt};

            border-color: $color;

            &::before {
              background-color: $color;
            }
          }
        }

        // when checked
        @each $state in $selectors-selected {
          > .#{settings.$prefix}-toggle__field#{$state} {
            + .#{settings.$prefix}-toggle__alt { // stylelint-disable-line scss/selector-nest-combinators
              @extend %#{$selector-alt-checked};
            }
          }
        }

        // define placeholder class of alt when focus
        @include mixin.define-placeholder($name: $selector-alt-focus) {
          border-color: $color-focus;
        }

        @each $state in $selectors-focus {
          > .#{settings.$prefix}-toggle__field#{$state} {
            + .#{settings.$prefix}-toggle__alt { // stylelint-disable-line scss/selector-nest-combinators
              @extend %#{$selector-alt-focus};
            }
          }
        }

        // define placeholder class of alt when disabled
        @include mixin.define-placeholder($name: $selector-alt-disabled) {
          border-color: $color;
        }

        @each $state in $selectors-disabled {
          > .#{settings.$prefix}-toggle__field#{$state} {
            + .#{settings.$prefix}-toggle__alt { // stylelint-disable-line scss/selector-nest-combinators
              @extend %#{$selector-alt-disabled};
            }
          }
        }
      }
    }
  }
}
